### Maven ###
target/
*.class
*.war
*.ear
*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
# If you use the Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
# Default ignored files
/shelf/
/workspace.xml
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.settings/
.project
.classpath
.factorypath
bin/

### Visual Studio Code ###
.vscode/

### Operating System ###
Thumbs.db
.DS_Store

### Log files ###
*.log
logs/

### Environment Variables / Secrets ###
.env
.env.local