### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# If you use the Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.settings/
.project
.classpath
.factorypath

### Visual Studio Code ###
.vscode/

### Operating System ###
Thumbs.db
.DS_Store

### Log files ###
*.log

### Environment Variables / Secrets ###
.env
.env.local